body{
	margin: 0;
	padding: 0;
	color: #EAE9F1;
	background-color: #131313;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.8;
	background-image: url("../img/Free-download-abstract-minimalist-wallpaper-HD.jpg");
	/*background-image: url(""), linear-gradient(#4ABDAC, #F7B733);*/
	background-repeat: no-repeat;
    background-color: #100C0A;

}

hr{
	border-top: 1px solid #c8c8c8;
}

a:link { 
	/*min-width: 130px;*/
	color: #E7E6E7; 
	text-decoration: none;
	padding: 20px;
	/*border-bottom: 3px solid #EAE9F1;*/
}
a:visited { 
	color: #100C0A;
 }
 .c2 li{
 	color: #100C0A;
	font-weight: 500;
 }
.nav a:link { 
	/*min-width: 130px;*/
	/*color: #E7E6E7; */
	color: #100C0A;
	/*color: red;*/
	text-decoration: none;
	padding: 20px;
	/*border-bottom: 3px solid #EAE9F1;*/
}
.nav a:visited { 
	/*color: #EAE9F1; */
	color: #100C0A;
	/*color: red;*/
}
a:focus { color: #EAE9F1; }
 .nav a:hover { 
	color: #EAE9F1; 
	/*color: #100C0A;*/
	background-color: #100C0A;
	/*border: 1px solid #100C0A;*/
}
a:active { color: red; }

ul{
	padding: 0;
	text-align: center;
}

li{
	padding: 5px;
	list-style-type: none;
}

p{
	padding: 0 20px;
}

h3{
	/*text-align: center;*/
	padding: 0 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 30px;

}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
	color: #100C0A;
}

h1 span { 
    /*background-color: #100C0A; */
}

.meniu{
	/*background-color: #100C0A;*/
	background-color: #FDDD49;

	padding: 10px;
	/*border-bottom: 1px solid #EAE9F1;*/
	text-align: right;
	height: 60px;
	/*position: fixed;*/
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);

	
}

.meniu-ft {
	height: 20px;
	background-color: #FDDD49;
}

.nav{
	margin-top: 15px;
	font-weight: 600;
	/*vertical-align: middle;*/
}

.intro{
	height: 170px;
	text-align: center;
	/*vertical-align: middle;*/
	margin: 50px;
	font-size: 40px;
	/*line-height: 1.4;*/
	/*margin-bottom: 10px;*/
}

.intro p{
	font-size: 15px;
	margin: 0;
}
/*.intro h1{
	margin: auto;
}*/

.content{
	background-color: #100C0A;
	width: 60%;
	height: 1000px;
	/*margin: 200px auto 0;*/
	margin: auto;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


.c1{
	/*width: 50%;*/
	margin: 5% 10%;
	/*float: left;*/
}

.c2{
	width: 18%;
	margin: 5%;
	float: right;
	/*border: 1px solid #EAE9F1;*/
	background-color: #FDDD49;
	

}

.c3{
	/*width: 50%;*/
	margin: 5% 10%;
	/*float: left;*/

}

.c3 img {
	float: left;
	padding: 2%;
	margin: 1%;
	/*border: 1px solid #EAE9F1;*/
	width: 42%;
	height: 150px;
}

.c3 img:hover {
}

.footer {
	background-color: #100C0A;
	margin-top: 100px;
	/*background-color: #EAE9F1;*/
	height: 100px;
}

.footer p {
	float: right;
	vertical-align: middle;
}